.nav-bar {
  margin-top: 25px;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.page-title {
  margin-bottom: 0;
  width: 30%;
  vertical-align: middle;
  display: inline-block;
  color: mediumpurple;
}

.buttons {
  float: right;
  display: block;
}

.buttons ul {
  margin-bottom: 0;
}

.buttons ul li {
  width: 50%;
  display: inherit;
}

.nav-btn {
  width: 240px;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid mediumpurple;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 5px;
}

.buttons a {
  color: mediumpurple;
}

.buttons a:hover {
  text-decoration: none;
}

.buttons li:active {
  text-decoration: none;
}

.buttons li:hover {
  color: white;
  background-color: mediumpurple;
  cursor: pointer;
  text-decoration: none;
}
